<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Padrão{% endblock %}</title>
    <link href="{{ url_for('static', filename='vendors/bootstrap-5.0.2/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/componentes/private/base.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/componentes/private/header.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/componentes/private/footer.css') }}" rel="stylesheet">
</head>
<body>

<!--HEADER-->
{% include 'componentes/private/header.html' %}

<!--CONTENT-->
<div class="content">
    <div class="into-content">
        {% block content %}{% endblock %}
    </div>
</div>

<!--SCRIPTS-->
<script src="{{ url_for('static', filename='vendors/bootstrap-5.0.2/js/bootstrap.bundle.min.js') }}"></script>

<!--FOOTER-->
{% include 'componentes/private/footer.html' %}

</body>
</html>