<footer class="bg-dark text-white py-3 mt-auto">
    <div class="container text-center">
        <p>&copy; 2024 Sistema para gerênciamento de contatos (SPA - CRUD) - By Samuel Gama</p>
        <p><a href="mailto:samuelfoxgama@hotmail.com" class="text-white">samuelfoxgama@hotmail.com</a></p>
        <p>
            <a href="https://www.linkedin.com/in/samuel-raposo-072ab7266" target="_blank" class="text-white">LinkedIn</a> |
            <a href="https://wa.me/5527992297504" target="_blank" class="text-white">Whatsapp</a> |
            <a href="https://github.com/samuelfox30/System-SPA-CRUD" target="_blank" class="text-white">
                <i class="bi bi-github"></i> Código no GitHub
            </a> |
            <a href="https://samuelfox30.github.io" target="_blank" class="text-white">Portifólio</a>
        </p>
    </div>
</footer>